# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Второй курс\Работа с файлами\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
